@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

body {
    background-color: #0E0929;
    height: 100vh;
    display: flex;
}

.menu {
    width: 250px;
    height: 95vh;
    border-right: 3px solid rgba(255, 255, 255, 0.185);
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    transition: 0.5s ease-in-out;

    .header {
        width: 100%;
        display: flex;
        justify-content: right;

        #btn-menu {
            background: none;
            border: none;
            cursor: pointer;

            img {
                height: 45px;
            }
        }

    }

    .navigation {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .icon-text {
            padding: 5px;
            user-select: none;

            &:hover {
                background: rgba(255, 255, 255, 0.043);
                cursor: pointer;
            }

            button {
                background: none;
                border: none;
                margin-left: 5px;
                font-size: 14pt;

                &:hover {
                    background: rgba(255, 255, 255, 0.043);
                    cursor: pointer;
                }
            }
        }
    }

    .subtitle {
        font-family: "Tourney", sans-serif;
        color: #8077B5;
        font-size: 16pt;
        font-weight: 900;
        margin: 15px 0 10px 0;
        user-select: none;
    }

    .history {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        a {
            padding: 5px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                background: rgba(255, 255, 255, 0.043);
                cursor: pointer;
            }
        }
    }

    .about-area {
        user-select: none;

        #btn-about {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 3px;

            font-family: "Tourney", sans-serif;
            color: #8077B5;
            font-weight: 900;
            font-size: 15pt;
            cursor: pointer;

            .fa-solid {
                padding-right: 10px;
                color: #8077B5;
            }

            &:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.084);
                transition: 0.3s ease;
            }
        }

        .hide {
            display: none;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            font-size: 10pt;
        }
    }
}

.space {
    width: 100%;
    background: url(../img/background.png);
    background-position: center;
    background-size: fill;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 40px 0;

    .hero {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        user-select: none;

        .title {
            font-family: "Tourney", sans-serif;
            font-size: 70pt;
            font-weight: 300;
            color: #8077B5;

            span {
                font-family: "Tourney", sans-serif;
                font-weight: 900;
                color: #8077B5;
            }
        }

        .subtitle {
            font-family: "Tourney", sans-serif;
            font-size: 25pt;
            font-weight: 300;
            color: #8077B5;
            margin-top: -20px;
        }

        .text {
            color: rgba(255, 255, 255, 0.767);
            margin-top: 50px;
            font-weight: 300;
            font-size: 16pt;
        }
    }

    .text-area {
        width: 90%;
        height: 60px;
        background: #0E0929;
        border: 2px solid rgba(255, 255, 255, 0.084);

        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
            &.btn-clip {
                padding: 0 10px;
                background: none;
                border: none;
            }

            &.btn-send {
                height: 100%;
                background: #8077B5;
                padding: 0px 15px;
                border-radius: 3px;
                border: 2px solid #665d97;

                &:hover {
                    background: #665d97;
                    cursor: pointer;
                    transition: 0.3s ease;
                }
            }

            i {
                font-size: 16pt;

                &:hover {
                    cursor: pointer;
                    transition: 0.3s ease;
                }
            }
        }

        input {
            width: 100%;
            height: 100%;
            background: #0E0929;
            color: white;
            font-weight: 500;
            font-size: 14pt;
            padding-left: 15px;
            border: none;
        }

        input:focus {
            border-color: none;
            outline: none;
        }
    }
}